body{
    display: flex;
    align-items: center;
    height: 99vh;
    justify-content: center;
    background-color: rgb(138, 223, 244);
}

h1 {
    font-size:60px;
}

#clock {
    text-align: center;
}

.btn{
    padding: 15px 30px;
    background-color: rgb(97, 249, 138);
}